<div class="tweet-date" [textContent]="tweet | TweetDate"></div>
<div class="tweet-text" [innerHTML]="tweet | ReplaceMedia"></div>
<div class="tweet-metadata">
  <a class="faves"
     matTooltip="{{tweet.Faves}} Likes!"
     target="_blank"
     [href]="likeIntentUrl + tweet.IdStr">
    <i class="icon-heart"></i>
    <span [textContent]="tweet.Faves"></span>
  </a>
  <a class="rts"
     matTooltip="{{tweet.Rts}} Retweets!"
     target="_blank"
     [href]="rtIntentUrl + tweet.IdStr">
    <i class="icon-retweet"></i>
    <span [textContent]="tweet.Rts"></span>
  </a>
  <a class="link" [href]="tweet.Url" target="_blank" matTooltip="Twitter URL">
    <i class="icon-link"></i>
  </a>
  <a class="internal-link"
     routerLink="/tweet/{{ tweet.IdStr }}"
     *ngIf="showInternalLink"
     matTooltip="View Tweet">
    <i class="icon-bookmark"></i>
  </a>
</div>
