<div id="tweet-area"
     class="search"
     [ngClass]="{'results': tweets.length > 0}"
     infiniteScroll=""
     debounce=""
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollThrottle]="scrollThrottle"
     [scrollWindow]="false"
     (scrolled)="onScroll()">
  <div></div>
  <div id="tweets">
    <div id="search-bar">
      <div id="sort-order">
        <a (click)="toggleSortOrder()">
          <i *ngIf="search.ascending" class="icon-up-open"></i>
          <i *ngIf="!search.ascending" class="icon-down-open"></i>
        </a>
      </div>
      <div>
        <mat-select placeholder="Order By" [(ngModel)]="search.order" name="order">
          <mat-option *ngFor="let opt of sortOpts" [value]="opt.name">
            {{ opt.label }}
          </mat-option>
        </mat-select>
      </div>
      <div>
        <input type="text"
               id="search-text"
               name="search"
               maxlength="280"
               [(ngModel)]="search.text"
               (keyup.enter)="setLoc()"
               autocomplete="off" />
      </div>
      <div>
        <button name="submit"
                type="button"
                (click)="setLoc()">Search</button>
      </div>
    </div>
    <div *ngIf="!search.resultsEmpty || tweets.length > 0">
      <div class="tweet" *ngFor="let tweet of tweets" tweet-frag="" [tweet]="tweet" [showInternalLink]="true"></div>
    </div>
    <div id="no-results" *ngIf="search.resultsEmpty && tweets.length <= 0">
      No results
    </div>
    <div loading-spinner="" *ngIf="loading"></div>
  </div>
  <div></div>
</div>
